.box {
    margin: 0px;
    position: relative;
    margin-left: 430px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    line-height: 5;
    backdrop-filter: blur(10px);
    background-color: #b8dbd73b; 
    border: 1px solid #49839B;
    max-width: 500px;
    max-height: 50%;
    padding: 20px ;
    flex-direction: column;
  

}

 #city {
    color: white;
    font-size: 100px;
    -webkit-text-stroke: 1px black; 
    font-size: 50px;
    font-weight: 800;
    font-family:"Arial Black", Gadget, sans-serif;
    display: initial;
}

#txt {
    font-size: 290px;
    color:#FAB03C;
    -webkit-text-stroke: 1px black; 
    font-size: 30px;
    font-weight: 800;
    font-family: "Arial Black", Gadget, sans-serif;
}

 span {
    color: white;
    -webkit-text-stroke: 1px black; 
    font-size: 25px;
    font-weight: 800;
    font-family: "Arial Black", Gadget, sans-serif;
}

.mainIcon {
    width: 100px;
    height: 100px;
}

.temp {
    padding: 0px;
    font-size: 45px;
    font-weight: 800;
    color: #264969;
    font-family: "Arial Black", Gadget, sans-serif;
}

