.container1{
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin: 5px;
    padding: 20px;
    
  }
  .middle h2{
    color: white;
    font-size: 50px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  
  }
  .middle h3{
    color: rgb(243, 216, 63);
    font-size: 30px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  
  }
  .middle span{
    color:white;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  }
  
  .middle{
    margin: 30px;
  
  }
  .mainIcon{
   width: 100px;
   height: 100px;
  }
  .temp{
    padding: 0px;
    font-size: 45px;
    font-weight: 800;
    color: rgb(26, 26, 126);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

  }