*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Nunito;
  color:#fff;
}

.container{

  width: 100%;
  height: 20vh;
}
.info{
  margin-top: 10px;
  display: inline-block;
  width: 300px;
  height: 50vh;
  margin-left: 50px;
}
.regioninput{
  background:none;
  border:none;
  border-bottom:1px solid #fff;
  padding:0 50px 0 0px;
  outline:none;
}
.container1{
  text-align: center;
  justify-content: center;
  
}
.middle{
  margin: 40px;

}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  
}

.day{
  display: inline-block;
  width: 20%;
  height: 150px;
  text-align: center;
  justify-content: center;
  border-right: 2px solid aqua;
  border-top: 2px solid aqua;
}

