.details {
    text-align: center;
    background-image: url("/sky.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.details img{
    padding-left: 400px;
    padding-top: 3px;
    margin: 0px;
}

.text{
    display: block;
    width: 700px;
    font-family: cursive;
}
.city{
    margin: 0px;
    display: block;
    font-size: 40px;
    font-family: cursive;
}
.desci{
    font-size: 25px;
    color: rgb(247, 141, 65);
}
.temp{
    padding: 0px;
    font-size: 25px;
    color: rgb(240, 162, 17);
}