.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
  
  }
  
  .day{
    display: inline-block;
    width: 20%;
    height: 150px;
    text-align: center;
    justify-content: center;
    border-right: 2px solid #3c3c3c;
    color: rgb(26, 26, 126);
    font-weight: 800;   
    font-size: 25px; 
  }

  p{
    color: #3c3c3c;


  }