.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    
  }
  
  .day{
    display: inline-block;
    width: 20%;
    height: 150px;
    text-align: center;
    justify-content: center;
    border-right: 2px solid gray;
    color: bisque;
    
  }
 